.h3style{
	font-weight: 500;
	font-size: 2em;
	line-height: 1.2;
	font-family: 'Arvo', serif;
}

.h4style{
	font-weight: 500;
	line-height: 1.5;
	font-family: 'Lato', sans-serif;
}

.introname h1{
	font-family: 'Cormorant Garamond', serif;
	font-weight: 500;
	font-size: 6em;
}

.introname h3, .introname h5{
	font-family: 'Oxygen', sans-serif;
}

.skillheader h1{
	font-family: 'Arvo', serif;
	font-size: 3em;
}

.aboutgreeting h3{
	font-family: 'Arvo', serif;
	font-weight: 500;
}

.aboutdescription h4{
	font-family: 'Lato', sans-serif;
}

.contactheader h1{
	font-family: 'Arvo', serif;
	font-size: 3em;
}