/*INTRODUCTION*/

.introrow{
	background-color: #E0EBE8;
	margin: 0;
}

.introname{
	text-align: center;
	color: #2B8A74;
}

.intropicture{
	background-color: #E0EBE8;
	margin: 0;
}

.background{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*ABOUT*/

.about{
	background-color: white;
	margin: 0;
}

.aboutprofilepicture{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.aboutsection{
	padding-top: 80px;
}

.aboutgreeting{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #2B8A74;
	padding-top: 20px;
}

.aboutdescription{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #545454;
	width: 500px;
	padding-top: 15px;
	margin-bottom: 90px;
}

.aboutdescription h4{
	font-weight: 300;
	font-size: 1.5em;
	line-height: 1.2;
}

/*SKILL*/

.skill{
	background-color: white;
	margin: 0;
}

.skillheader{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #2B8A74;
	padding-top: 20px;
}

.skillcontent{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	height: 250px;
	padding-top: 50px;
}

.skillcontentleft{
	padding-top: 50px;
}

.skillwhaticandoheader{
	display: block;
	text-align: left;
	color: #45B29A;
}

.skillwhaticandodescription{
	margin-right: auto;
	text-align: left;
	color: #545454;
}

 /* The animation code */
@keyframes example {
 	 
    0% 	{
    		background-image: image-url('html5.png');
    		background-position: 0 0;
		}
	5% 	{
    		background-image: image-url('html5.png');
    		background-position: 0 0;
		}
	15% {
    		background-image: image-url('css.png');
    		background-position: 0 77px; 
		}	
    35% {	
    		background-image: image-url('css.png');
			background-position: 0 77px;
		}
    45%	{
    		background-image: image-url('javascript.png');
    		background-position: 0 154px;
    		
		}
	65%	{
    		background-image: image-url('javascript.png');
    		background-position: 0 154px;
		}
    75% {
    		background-image: image-url('html5.png');
    		background-position: 0 231px;
		}
    100%{
			background-image: image-url('html5.png');
			background-position: 0 231px;
		}
}

/* The element to apply the animation to */
.animation {
    width: 77px;
    height: 77px;
    display: block;
	margin-left: auto;
	margin-right: auto;
    background-image: image-url('html5.png');
    background-size: 100% 100%;
    animation-name: example;
    animation-duration: 20s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1,0,0,1);
    animation-direction: alternate;
}

/*DEVELOPMENT SKILL*/

.developcontent{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	height: 250px;
	padding-top: 20px;
}

.developheader{
	display: block;
	text-align: left;
	color: #45B29A;
	padding-left: 200px;
}

.developdescription{
	text-align: left;
	color: #545454;
	padding-left: 200px;
}

.developcontentright{
	padding-top: 50px;
}

.seconddotstyle{
	text-align: center;
}

/* The animation code */
@keyframes example1 {
 	 
    0% 	{
    		background-image: image-url('ruby.png');
    		background-position: 0 0;
		}
	5% 	{
    		background-image: image-url('ruby.png');
    		background-position: 0 0;
		}
	15% {
    		background-image: image-url('rails.png');
    		background-position: 0 77px; 
		}	
    35% {	
    		background-image: image-url('rails.png');
			background-position: 0 77px;
		}
    45%	{
    		background-image: image-url('postgresql.png');
    		background-position: 0 154px;
    		
		}
	65%	{
    		background-image: image-url('postgresql.png');
    		background-position: 0 154px;
		}
    75% {
    		background-image: image-url('ruby.png');
    		background-position: 0 231px;
		}
    100%{
			background-image: image-url('ruby.png');
			background-position: 0 231px;
		}
}

/* The element to apply the animation to */
.animation1 {
    width: 77px;
    height: 77px;
    display: block;
	margin-left: auto;
	margin-right: auto;
    background-image: image-url('ruby.png');
    background-size: 100% 100%;
    animation-name: example1;
    animation-duration: 20s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1,0,0,1);
    animation-direction: forwards;
}

/*CONTACT ME*/

.contactsection{
	margin-top: 100px;
}

.contactheader{
	display: block;
	text-align: center;
	color: #2B8A74;
}

.contactsmallheader{
	display: block;
	text-align: center;
	color: #45B29A;
	padding-top: 30px;
}

.contactdescription{
	display: block;
	text-align: center;
	color: #545454;
	padding-top: 20px;
}