<div class="row navbarrow">
	<div class="navbarsection">
		<div class="col-md-6 profilepicture"><%= image_tag('roxaslogo.jpg',class:"myprofilepicture")%></div>
		<div class="col-md-6">
			<div class="guidancebutton">
				<ul class="navbarbuttonstyle">
					<li><a href="#"><h4>About</h4></a></li>
					<li><a href="#"><h4>Experience</h4></a></li>
					<li><a href="#"><h4>Contact</h4></a></li>
				</ul>
			</div>
		</div>			
	</div>
</div>