<%= render partial: "/layouts/navbar" %>

<div class="row introrow">
	<div class="introname"><h1>I'm Cheah How.</h1></div>
	<div class="introname"><h3>a junior full-stack web developer</h3></div>
</div>

<div class="row intropicture">
	<div class="container">
		<div class="backgroundsection"><%= image_tag("community",class:"background")%></div>
	</div>
</div>

<div class="row about">
	<div class="container">
		<div class="aboutsection"><%= image_tag('roxaslogo.jpg',class:"aboutprofilepicture")%></div>
		<div class="aboutgreeting"><h3>Aloha.</h3></div>
		<div class="aboutdescription"><h4>I'm a junior full-stack web developer </br> based in PJ. I have a passion in web development and </br> love to create for web and mobile devices.</h4></div>
	</div>
</div>

<div class="row skill">
	<div class="container">
		<div class="skillheader"><h1>What I can do.</h1></div>
		<div>
			<div class="skillcontent">
				<div class="col-md-6">
					<div class="animation"></div>
				</div>
				<div class="col-md-6">
					
				</div>
			</div>
		</div>
	</div>
</div>
